streamlit
openai
anthropic
langchain
duckduckgo-search
langchain
langchain-community
langchain-openai
replicate
stability-sdk
PyPDF2
python-docx
faiss-cpu
unstructured[md]
requests
pillow
streamlit-drawable-canvas
